html, body {
    width: 100%;
    height: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
img{
    border: none;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
/*第一屏*/
.swiper-slide:nth-child(1){
    background:linear-gradient(#73a5a2,#fff8c9);
    text-align:center;
}
.swiper-slide:nth-child(1) span{
    font-size:1.7rem;
    color:#fff;
    line-height:6rem;
}
.swiper-slide:nth-child(1) .bg11{
    width:4.45rem;
    height:3.96rem;
    background:url(../img/11.png) no-repeat;
    background-size:cover;
    margin:-0.5rem auto;
}
.swiper-slide:nth-child(1) p{
    font-size:0.64rem;
    color:#827d5f;
    line-height:3.5rem;
}

/*第二屏*/
.swiper-slide:nth-child(3){
    background:#ffff00;
}
.swiper-slide:nth-child(4){
    background:#ffff00;
}
.swiper-slide:nth-child(5){
    background:#ffff00;
}