html, body {
    width: 100%;
    height: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color:#ccc;
}
img{
    border: none;
}
@font-face {font-family: "iconfont";
    src: url(../font/iconfont.woff); /* IE9*/
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
}

.icon-shezhi:before { content: "\e600"; }

.icon-zhuanlan:before { content: "\e602"; }

.icon-shoucang:before { content: "\e601"; }

.icon-fankui:before { content: "\e60e"; }

.icon-tongzhi:before { content: "\e615"; }

.icon-my:before { content: "\e63e"; }

.icon-shiting:before { content: "\e606"; }

.icon-shequ:before { content: "\e624"; }

.icon-yuedu:before { content: "\e651"; }

.icon-huodong:before { content: "\e617"; }

.icon-xiaoxi:before { content: "\e603"; }

.icon-jinbi:before { content: "\e62a"; }

.icon-207:before { content: "\e616"; }

.icon-shouye-copy:before { content: "\e64e"; }

.icon-gentie-:before { content: "\e6bf"; }
.list{
    width: 100%;
    height: 100%;
}
.list h2{
    width: 100%;
    height: 1rem;
    background-color: #fafafa;
    border-bottom: 0.01rem solid #dcdcde;
    color: #666;
    text-align: center;
    font-size: 0.5rem;
    line-height: 1rem;
}
.inputbox{
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:#efefef;
}
.inputbox .search{
    width: 6.3rem;
    height: 0.75rem;
    background-color: #ffffff;
    border-radius: 0.1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search input{
    border:0;
}
.cancle{
    width: 0.4rem;
    height: 0.4rem;
    background-image: url(../img/cancel.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.bigbox{
    width:100%;
    height:auto;
    background:red;
}
.bigbox .new{
    width: 3.66rem;
    height: 3.66rem;
    background:#fff;
    margin-bottom: 0.15rem;
    float:left;
}
.bigbox .new1{
    background:url(../img/new9.jpg) no-repeat;
    background-size:cover;
}
.bigbox .new2{
    background:url(../img/new2.jpg) no-repeat;
    background-size:cover;
    margin-left: 0.16rem;
}
.bigbox .new3{
    background:url(../img/new3.jpg) no-repeat;
    background-size:cover;
}
.bigbox .new4{
    background:url(../img/new1.jpg) no-repeat;
    background-size:cover;
    margin-left: 0.16rem;
}
.bigbox .new5{
    background:url(../img/new5.jpg) no-repeat;
    background-size:cover;
}
.bigbox .new6{
    background:url(../img/new6.jpg) no-repeat;
    background-size:cover;
    margin-left: 0.16rem;
}
.bigbox .new7{
    background:url(../img/new7.jpg) no-repeat;
    background-size:cover;
    /*margin-left: 0.16rem;*/
}
.bigbox .new8{
    background:url(../img/0.jpg) no-repeat;
    background-size:cover;
    margin-left: 0.16rem;
}
.bigbox a{
    width:100%;height:100%;
    display:block;
}
.navbox{
    width:100%;
    height:1.4rem;
    background:#ccc;
    font-size:0.3rem;
    position:fixed;
    display: flex;
    justify-content:space-around;
    align-items:center;
    bottom:0;
}
.navbox a{
    width:100%;
    height:100%;
    display:block;
}
.nav{
    width: 1rem;
    height: 1rem;
    float:left;
    text-align: center;
}
.nav .navpic1{
    width: 0.3rem;
    height: 0.35rem;
    display: block;
    margin: 0.1rem auto;
}
.nav span{
    display: block;
    font-size: 0.3rem;
    color: #000000;
    line-height: 0.5rem;
}
