html, body {
    width: 100%;
    height: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
img{
    border: none;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
/*第一屏*/
.swiper-slide:nth-child(1) {
    background:#f7f7f7;
    text-align: center;
}
.mf11{
    width:3.42rem;
    height:0.64rem;
    font-size:0.64rem;
    display:block;
    color:#e02524;
    margin:1.1rem auto 0;
}
.mf12{
    width:6.04rem;
    height:0.46rem;
    font-size:0.46rem;
    display:block;
    color:#aeaeae;
    margin:0.5rem auto 0;
}
.mf13{
    width:1.35rem;
    height:0.98rem;
    margin-top:1.69rem;
    margin-left:2.34rem;
    background:url(../img/44.png) no-repeat;
    background-size:100% 100%;
}
.mf14{
    width:1.76rem;
    height:0.71rem;
    margin-top:0.78rem;
    margin-left:0.48rem;
    background:url(../img/42.png) no-repeat;
    background-size:100% 100%;
}
.mf15{
    width:1.76rem;
    height:0.71rem;
    position:absolute;
    margin-left:5.49rem;
    margin-top:-1.2rem;
    background:url(../img/43.png) no-repeat;
    background-size:100% 100%;
}
.mf16{
    width:6.57rem;
    height:4.93rem;
    margin:-0.3rem auto 0;
    background:url(../img/yd41.png) no-repeat;
    background-size:100% 100%;
}
/*第二屏*/
.swiper-slide:nth-child(2){
    background:#2d2d2d;
}
.yd11{
    width:1.2rem;
    height:0.96rem;
    background:url(../img/yd11.png) no-repeat;
    margin-top:1rem;
    margin-left:0.38rem;
    background-size:100% 100%;
}
.yd12{
    width:6rem;
    height:5.27rem;
    background:url(../img/yd12.png) no-repeat;
    background-size:100% 100%;
    margin:0.5rem auto 0;
}
.yd13{
    width:1.56rem;
    height:0.8rem;
    margin-top:0.36rem;
    margin-left:0.54rem;
    background:url(../img/yd14.png) no-repeat;
    background-size:100% 100%;
}
.yd14{
    width:1.56rem;
    height:0.8rem;
    margin-top:-0.24rem;
    margin-left:5.48rem;
    background:url(../img/yd14.png) no-repeat;
}
.swiper-slide:nth-child(2) .span1{
    width:3.2rem;
    height:0.8rem;
    font-size:0.8rem;
    display:block;
    color:#fff;
    margin:0.7rem auto 0;
}
.swiper-slide:nth-child(2) .span2{
    width:3.84rem;
    height:0.46rem;
    font-size:0.33rem;
    display:block;
    color:#a9a9a9;
    margin:0.4rem auto 0;
}
/*第三屏*/

.swiper-slide:nth-child(3){
    background:#f7f7f7;
}
.swiper-slide:nth-child(3) span:nth-child(1){
    width:4rem;
    height:0.64rem;
    font-size:0.64rem;
    display:block;
    color:#e02524;
    margin:1.3rem auto 0;
}
.swiper-slide:nth-child(3) span:nth-child(2){
    width:4.7rem;
    height:0.46rem;
    font-size:0.46rem;
    display:block;
    color:#949494;
    margin:0.43rem auto 0;
}
.swiper-slide:nth-child(3) span:nth-child(3){
    width:5.65rem;
    height:0.46rem;
    font-size:0.46rem;
    display:block;
    color:#949494;
    margin:0.19rem auto 0;
}
.mm1{
    width:1.14rem;
    height:0.94rem;
    margin-top:1.12rem;
    margin-left:5.91rem;
    background:url(../img/yd32.png) no-repeat;
    background-size:100% 100%;
}
.mm2{
    width:1.38rem;
    height:1.21rem;
    margin-top:-0.5rem;
    margin-left:0.51rem;
    background:url(../img/yd34.png) no-repeat;
    background-size:100% 100%;
}
.mm3{
    width:5.61rem;
    height:4.79rem;
    margin:0 auto;
    margin-top:-0.2rem;
    background:url(../img/yd33.png) no-repeat;
    background-size:100% 100%;
}
.mm4{
    width:1.2rem;
    height:0.94rem;
    margin-top:-0.2rem;
    margin-left:5.88rem;
    background:url(../img/31.png) no-repeat;
    background-size:100% 100%;
}
/*第四屏*/
.swiper-slide:nth-child(4){
    background:#f7f7f7;
}
.swiper-slide:nth-child(4) span:nth-child(1){
    width:4.05rem;
    height:0.64rem;
    font-size:0.64rem;
    display:block;
    color:#e02524;
    margin:1.3rem auto 0;
}
.swiper-slide:nth-child(4) span:nth-child(2){
    width:3.13rem;
    height:0.46rem;
    font-size:0.46rem;
    display:block;
    color:#949494;
    margin:0.43rem auto 0;
}
.swiper-slide:nth-child(4) span:nth-child(3){
    width:3.58rem;
    height:0.46rem;
    font-size:0.46rem;
    display:block;
    color:#949494;
    margin:0.19rem auto 0;
}
.dd1{
    width:1.41rem;
    height:1.18rem;
    margin-top:1rem;
    margin-left:0.87rem;
    background:url(../img/yd22.png) no-repeat;
    background-size:100% 100%;
}
.dd2{
    width:6.75rem;
    height:6.76rem;
    margin:0 auto;
    margin-top:-0.7rem;
    background:url(../img/yd21.png) no-repeat;
    background-size:100% 100%;
}
/*第五屏*/
.swiper-slide:nth-child(5){
    background:linear-gradient(#73a5a2,#fff8c9);
    text-align:center;
}
.swiper-slide:nth-child(5) span{
    font-size:1.7rem;
    color:#fff;
    display:block;
    margin-top:1.6rem;
}
.swiper-slide:nth-child(5) .bg11{
    width:4.45rem;
    height:3.96rem;
    background:url(../img/11.png) no-repeat;
    background-size:cover;
    margin:0.79rem auto;
}
.swiper-slide:nth-child(5) p{
    font-size:0.64rem;
    color:#827d5f;
    margin-top:0.6rem;
}
.jinru{
    width:3.84rem;
    height:1.15rem;
    display:block;
    background:url(../img/jinru.png) no-repeat;
    background-size:100% 100%;
    margin:1rem auto 0;
}

